body {
    background-color: white;
    font-family: 'Joan', serif;
    margin: 0px;
}
img {
    border-radius: 25px;
    max-width: 100%;
}

#movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#intro {
    display: grid;
    min-height: 300px;
    padding-bottom: 40px;
    background-image: linear-gradient(to right,rgb(85, 157, 57), #a0c57b18), url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/7VrRna8S3x6xbijooeBmxqvHXiu.jpg");
    background-size: cover;
}

#logo {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
}
#logo-image {
    max-height: 80%;
}
#logo-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-list {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}
.nav-list-elem {
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

.movie-card {
    background-color: #C0DFA1;
    padding: 15px;
    font-size: 1rem;
}
#header {
    background-color: #263e1c;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    padding-left: 10px;
    padding: 0px 40px;
}
.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: paleturquoise;
}

#main {

}